h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

h3 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container {
    max-width: 1280px;
    width: 100%;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}



body {
    max-width: 1920px;
    margin: auto;
    position: relative;
    /*background-color: black;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    margin: 0 auto;
    width: 1280px;
}
.header {
    background: linear-gradient(178.62deg, rgba(0, 0, 0, 0.57) 1.34%, rgba(196, 196, 196, 0) 98.99%);
    display: flex;
    position: relative;
    height: 80vh;
}
.header__menu{
    position: absolute;
    z-index: 1;
    background-color: rgba(115, 113, 114, 0.5);
    width: 100%;
    padding: 0 10%;
}

.header__photo {
    background-image: url('../img/image.png');
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    padding-top: 101px;
}
.header__logo {
    padding-top: 20px;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    margin: 0 auto;
    padding: 0;
}

.menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-family: 'Sen', sans-serif;
}

.hide {
    display: none;
    position: absolute;
}

.myDIV:hover .hide {
    display: block;
    color: red;
}

.slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    font-family: 'Sen', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 209px;
    padding-top: 15px;
}

.about__us {

}


.about-us__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
    background: rgba(196, 196, 196, 0.8);
    background-size: cover;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.about-us__video {
    background-color: #ffffff;
}

.school {
    position: absolute;
    width: 783px;
    height: 343px;
    left: -314px;
    top: 999px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(180, 209, 60, 0.31);
    transform: rotate(-90deg);

}
.school__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 205px;
}
.future {
    position: absolute;
    width: 1018px;
    height: 204px;
    left: 1255px;
    top: 570px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(180, 209, 60, 0.31);
    transform: rotate(-90deg);
}
.future__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 205px;
}
.news {
    background: rgba(92, 195, 226, 0.8);
    background-blend-mode: darken;
    margin-top: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: rgba(0, 0, 0, 0.8);
    margin: 30px 0 200px;
}

.news__button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 20px 25px;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.news__button:hover {
    background: rgba(92, 195, 226, 1);
    box-shadow: 0 15px 20px rgba(92, 195, 226, 1);
    color: white;
    transform: translateY(-7px);
}



.our-team {
    margin-top: 450px;
}

.school2 {
    position: absolute;
    width: 783px;
    height: 343px;
    left: -314px;
    top: 2723px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(180, 209, 60, 0.31);
    transform: rotate(-90deg);

}
.school__text2 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 205px;
}
.future2 {
    position: absolute;
    width: 1018px;
    height: 204px;
    left: 1255px;
    top: 2162px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(180, 209, 60, 0.31);
    transform: rotate(-90deg);
}
.future__text2 {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 170px;
    line-height: 205px;
}

.goinourteam {
    background: rgba(208, 208, 208, 0.8);
    width: 950px;
    height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 2670px;

}
.goinourteam__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 0 17% 60px;
}

.goinourteam_about {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 60px;
    text-decoration: underline;

}
.iconify {
    width: 460px;
    position: absolute;
    left: 55px;
    height: 30px;
    bottom: 55px;
    color: rgba(0, 0, 0, 0.8);
    transition: .5s;

}
.iconify:hover {
    transform: translateX(15px);

}





#carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-right {
    left: 780px;
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

.level-2 {
    height: 150px;
    width: 110px;
    line-height: 150px;
    background-color: #228291;
    left: 650px;
    margin-top: 25px;
}

.level-1 {
    height: 180px;
    width: 130px;
    line-height: 180px;
    background-color: #6796e5;
    left: 500px;
    margin-top: 10px;
}

.level0 {
    height: 200px;
    width: 150px;
    line-height: 200px;
    background-color: #4ec9e1;
    left: 330px;
}

.level1 {
    height: 180px;
    width: 130px;
    line-height: 180px;
    background-color: #6796e5;
    margin-top: 10px;
    left: 180px;
}

.level2 {
    height: 150px;
    width: 110px;
    line-height: 150px;
    background-color: #228291;
    margin-top: 25px;
    left: 50px;
}

.left-enter {
    opacity: 0;
    left: -60px;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: 50px;
    height: 150px;
    width: 110px;
    line-height: 150px;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: 650px;
    height: 150px;
    width: 110px;
    line-height: 150px;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: 780px;
    opacity: 0;
    height: 120px;
    line-height: 120px;
    margin-top: 40px;
    width: 90px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: 760px;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: 650px;
    opacity: 1;
    height: 150px;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: 50px;
    height: 150px;
    opacity: 1;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
}

.right-leave.right-leave-active {
    left: -60px;
    opacity: 0;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.information {
    display: flex;
    margin-top: 17%;
    background-color: rgba(92, 195, 226, 0.8);
}

.information__text {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid #FFFFFF;
    padding-bottom: 16px;
}
.information__hrefs {
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.phone {
    margin-top: 30px;

}
.phone__number {
    color: black;
}

.email__href {
    color: black;
}

.data {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    padding-left: 24%;
}

.data__href {
    color: #ffffff;
    display: inline-block;
    position: relative;
}

.data__href:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.data__href:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.icons {
    display: flex;
    margin: 30px 100px 0 0;
    justify-content: flex-end;
}

.youtube__icon {
    padding-right: 15px;
}

.copyright {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}



